@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap");
.btn-tfl, .btn-tfl-action, .btn-tfl-outline {
  width: 200px;
  padding: 12px 40px;
  border-radius: 55px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.btn-tfl-action {
  color: #fff;
  background-color: #458FF6;
}

.btn-tfl-action:hover {
  background-color: transparent;
  border: 1px solid #458FF6;
  color: #458FF6;
  -webkit-box-shadow: 4px 8px 16px rgba(69, 143, 246, 0.2);
          box-shadow: 4px 8px 16px rgba(69, 143, 246, 0.2);
}

.btn-tfl-outline {
  color: #458FF6;
  background-color: transparent;
  border: 1px solid #458FF6;
}

.btn-tfl-outline:hover {
  color: #fff;
  background-color: #458FF6;
}

.btn-toggler {
  border: none;
}

.card-service .card {
  border-radius: 20px;
  border: none;
  background: #fff;
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  padding: 40px;
}

.card-service .card img {
  width: 60px;
  height: 100%;
}

.card-service .card .card-title {
  margin-top: 24px;
  font-weight: 700;
  font-size: 24px;
  color: black;
}

.card-service .card .card-text {
  margin-top: 24px;
  color: #7D7987;
}

.line {
  height: 2px;
  width: 56px;
  border-radius: 50px;
  background: #1F1534;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul a {
  text-decoration: none;
  padding-left: 0px;
}

.header .navbar-tf {
  padding-top: 56px;
}

.header .navbar-tf .logo {
  width: 160px;
  height: 41px;
}

.header .navbar-tf li {
  margin-left: 40px;
  font-size: 18px;
}

.header .navbar-tf li a {
  color: #7D7987;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.header .navbar-tf li a:hover {
  color: #1F1534;
}

.header .navbar-tf li a.active {
  font-weight: 800;
  color: #1F1534 !important;
}

@media only screen and (min-width: 300px) and (max-width: 991.98px) {
  .header .navbar-tf {
    padding-top: 32px;
  }
  .header .navbar-tf .navbar-nav {
    text-align: center;
  }
  .header .navbar-tf .navbar-nav li {
    padding: 26px;
  }
  .header .navbar-tf .navbar-nav li a {
    font-size: 24px;
  }
}

.jmb {
  margin-top: 50px;
}

.jmb .jmb-desc .title {
  margin-bottom: 25px;
}

.jmb .jmb-desc .title h1 {
  font-size: 48px;
  color: #1F1534;
}

.jmb .jmb-desc .desc {
  margin-bottom: 45px;
}

.jmb .jmb-desc .desc p {
  font-size: 21px;
  color: #7D7987;
}

.service {
  margin-top: 200px;
}

.service .title {
  margin-bottom: 26px;
}

.service .title h1 {
  font-size: 36px;
}

.service .card-service {
  margin-top: 80px;
}

.service .card-service img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100px;
  height: 80px;
}

.service .desc {
  margin-top: 33px;
  padding: 0px 80px;
}

.service .desc p {
  font-size: 16px;
  color: #7D7987;
}

.service .action {
  margin-top: 69px;
}

@media only screen and (min-width: 300px) and (max-width: 991.98px) {
  .service .desc p {
    font-size: 12px;
  }
}

.footer {
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.footer .container {
  margin-top: 120px;
  padding: 100px 50px 100px 50px;
}

.footer .container .footer-detail p {
  color: #fff;
  font-weight: 300;
}

.footer .container .footer-detail .desc {
  margin-top: 17px;
}

.footer .container .footer-detail .desc p {
  font-size: 18px;
}

.footer .container .footer-detail .copyright {
  margin-top: 43px;
}

.footer .container .footer-detail .copyright p {
  font-size: 16px;
}

.footer .container .footer-link {
  margin-left: 120px;
}

@media only screen and (min-width: 300px) and (max-width: 991.98px) {
  .footer .container .footer-link {
    margin-left: 0;
    margin-top: 24px;
  }
  .footer .container .footer-link link h5 {
    margin-top: 24px;
  }
}

.footer .container .footer-link h5 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 32px;
}

.footer .container .footer-link ul li {
  margin-bottom: 16px;
}

.footer .container .footer-link ul li a {
  color: #fff;
  font-weight: 300;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.footer .container .footer-link ul li a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */