.card-service {
  .card {
    border-radius: 20px;
    border: none;
    background: $white;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    padding: 40px;

    img {
      width: 60px;
      height: 100%;
    }

    .card-title {
      margin-top: 24px;
      font-weight: map-get($font-weights, bold);
      font-size: 24px;
      color: black;
    }

    .card-text {
      margin-top: 24px;
      color: $grey;
    }
  }
}